@model IEnumerable<CrudRestaurante.Models.DetallePedido>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary btn-success">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plato.NombrePlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.PedidoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetallePedidoID"><i class="fas fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.DetallePedidoID"><i class="fas fa-book-reader"></i></a>
                <a asp-action="Delete" asp-route-id="@item.DetallePedidoID"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
